
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    background-color: #DDC67B;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
    font-family: 'Courgette', cursive;
}

.board {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 80%;
}

h1 {
    margin-top: 1rem;
    font-size: 4rem;
    font-family: 'Bungee Shade', cursive;
}

h2,
h3 {
    margin-top: 1rem;
    font-size: 4rem;
}

.info {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.rules {
    text-align: center;
}

.score,
.winner {
    margin: 1rem;
}

.buttonDiv {
    margin: 2rem;
}

button {
    width: 10rem;
    height: 5rem;
    margin: 1rem;
    background-color: #bb9457;
    color: white;
    border: 0;
    border-radius: 2rem;
    font-size: 2rem;
    box-shadow: 0.5rem 0.5rem 0.5rem black;
}

p {
    font-size: 2rem;
}

.gameOver {
    font-size: 3rem;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: 0.3rem 0.3rem 0.3rem black;
    color: white;
    background-color: #bb9457;
}

footer {
    display: flex;
    font-family: 'Ubuntu Mono', monospace;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    width: 100%;
    height: 3rem;
    text-align: center;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    background-color: #bb9457;
    border-top: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}